# Dissimilarity (Tugas 1)

In [ ]:
import pandas as pd
#read in the data using pandas
df = pd.read_csv('/content/drive/MyDrive/datamining/tugas/StudentsPerformance.csv')
#check data has been read in properly
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
df.shape

(1000, 8)

In [ ]:
#create a dataframe with all training data except the target column
X = df.drop(columns=['lunch'])
#check that the target variable has been removed
X.head()

,gender,race/ethnicity,parental level of education,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,none,72,72,74
1,female,group C,some college,completed,69,90,88
2,female,group B,master's degree,none,90,95,93
3,male,group A,associate's degree,none,47,57,44
4,male,group C,some college,none,76,78,75

$$Biner$$

---

atribut yang hanya memiliki 2 nilai mutlak, seperti 0 dan 1. 

Atribut binary dapat dibagi lagi dalam dua jenis yakni:
**teks tebal**
1.   Simetris: Kedua nilai sama derajat gunanya (misal: gender: laki-laki & perempuan).
2.   Asimetris: Kedua nilai tidak sama derajat gunanya (misal: hasil: lulus & gagal). Operasi yang dapat dilakukan distinctness.daftar

In [ ]:
#Menampilkan data biner dari dataset
X[["gender","test preparation course"]].head()

   gender test preparation course
0  female                    none
1  female               completed
2  female                    none
3    male                    none
4    male                    none

In [ ]:
#code gendernya
pria = "male"
lulus = "completed"

#nilai konversi biner
one = 1
zero = 0

def change_biner(gender):
  return one if gender == pria else zero
def change_binertes(test_preparation_course):
  return one if test_preparation_course == lulus else zero

In [ ]:
#Update Nilai dari Gender dan Test Preparation
X['gender'] = X['gender'].apply(change_biner)
X['test preparation course']= X['test preparation course'].apply(change_binertes)

X[["gender","test preparation course"]].head()

   gender  test preparation course
0       0                        0
1       0                        1
2       0                        0
3       0                        0
4       0                        0

$$Perhitungan Biner(Simetris)$$

---



$$Rumus: d(i,j) = \ \frac{r+s} {q+r+s+t} $$



$$Keterangan: $$

                                                         *   r: i=1, j=0
                                                         *   s: i=0, j=1 
                                                         *   q: i=1, j=1
                                                         *   t: i=0, j=0

In [ ]:
def binersimetris(i,j):
  q=r=s=t=0
  for col in ['gender','test preparation course']:
    if X[col][i]==1 and X[col][j] == 1:
      q+=1
      print("nilai q =",q)
    elif X[col][i]==1 and X[col][j]==0:
      r+=1
      print("nilai r =",r)
    elif X[col][i]==0 and X[col][j] == 1:
      s+=1
      print("nilai s =",s)
    else :
      t+=1
      print("nilai t =",t)
  print("Rumus = (r+s)/(q+r+s+t)")
  return (r+s)/(q+r+s+t)

print("Nilai Biner = ", binersimetris(1,3))

nilai t = 1
nilai r = 1
Rumus = (r+s)/(q+r+s+t)
Nilai Biner =  0.5

$$Nominal$$

---

Nominal
Nominal adalah jenis atribut yang hanya menyediakan nilai yang cukup untuk membedakan antara satu objek dengan objek lainnya. Nilai dari atribut nominal adalah nama benda atau dapat juga berupa simbol. Jenis atribut ini hanya bisa dilakukan operasi membandingkan sama atau tidaknya suatu data.

**Contoh :** nama orang, alamat, nomor ktp, kode pos, warna mata dan lain-lain.

Operasi yang bisa dilakukan adalah distinctness.

In [ ]:
X[["race/ethnicity","parental level of education"]].head()

  race/ethnicity parental level of education
0        group B           bachelor's degree
1        group C                some college
2        group B             master's degree
3        group A          associate's degree
4        group C                some college

$$Perhitungan Nominal$$

---

$$ Rumus: d(i,j) = \frac{m-p}{p}$$



$$Keterangan : $$

                          *   m = jumlah data yang dibandingkan
                          *   p = jumlah data sama

In [ ]:
def d1(i,j):
    P = 4
    M = 0
    for col in ["race/ethnicity","parental level of education"]:
        if X[col][i] == X[col][j]:
            M += 1

    return (P-M)/P

print(d1(1,2))
print(d1(1,3))
print(d1(1,4))

1.0
1.0
0.5

$$Numeric$$

---

In [ ]:
X[["math score","reading score","writing score"]].head()

   math score  reading score  writing score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75

$$Standar Deviasi$$

---
$$Rumus:ùî°=\sqrt{\frac{sigma(x_i-Œº)^2}{N}}$$

$$z=\frac{x-Œº}{ùî°}$$

In [ ]:
#normalisasi math score
std1 = 15.16308
mean1 = 66.08900
for col1 in ['math score']:
  data1 = X[col1]
  hasil1 = (data1-mean1)/std1
  print(hasil1)
#normalisasi reading_score
std2 = 14.600192
mean2 = 68.054000
for col2 in ['reading score']:
  data2 = X[col2]
  hasil2 = (data2-mean2)/std2
  print(hasil2)

#normalisasi writing_score
std3 = 15.195657
mean3 = 68.054000
for col3 in ['writing score']:
  data3 = X[col3]
  hasil3 = (data3-mean3)/std3
  print(hasil3)

0      0.389828
1      0.191979
2      1.576922
3     -1.258913
4      0.653627
         ...
995    1.445023
996   -0.269668
997   -0.467517
998    0.126030
999    0.719577
Name: math score, Length: 1000, dtype: float64
0      0.270270
1      1.503131
2      1.845592
3     -0.757113
4      0.681224
         ...
995    2.119561
996   -0.894098
997    0.201778
998    0.681224
999    1.229162
Name: reading score, Length: 1000, dtype: float64
0      0.391296
1      1.312612
2      1.641653
3     -1.582952
4      0.457104
         ...
995    1.773270
996   -0.859061
997   -0.200978
998    0.588721
999    1.180995
Name: writing score, Length: 1000, dtype: float64

$$Menghitung-Jarak-Numeric-dengan-Metode-Euclidean-Distance$$

---

$$Rumus:$$$$d(i,j)=\sqrt{(x·µ¢‚ÇÅ-x‚±º‚ÇÅ)^2 + (x·µ¢‚ÇÇ - x‚±º‚ÇÇ)^2+.....}$$

In [ ]:
import math

def d2(x,y,h):
    result = 0
    for col in [hasil1, hasil2, hasil3]:
        result = math.pow(abs(col[x] - col[y]), h)
    return result**(1/h)


print(d2(1,2,2))
print(d2(1,3,2))
print(d2(1,4,2))

0.32904138333735755
2.895564173368746
0.8555075966771294

$$Similiarity$$

---

$$Rumus:$$$$Biner+Nominal+Numeric$$

In [ ]:
# Jarak d(1,2)
print("Jarak d(1,2) = ",d1(1,2)+d2(1,2,2)+binersimetris(1,2))

# Jarak d(1,3)
print("Jarak d(1,3) = ",d1(1,3)+d2(1,3,2)+binersimetris(1,3))

# Jarak d(1,4)
print("Jarak d(1,4) = ",d1(1,4)+d2(1,4,2)+binersimetris(1,4))

nilai t = 1
nilai r = 1
Rumus = (r+s)/(q+r+s+t)
Jarak d(1,2) =  1.8290413833373576
nilai t = 1
nilai r = 1
Rumus = (r+s)/(q+r+s+t)
Jarak d(1,3) =  4.395564173368745
nilai t = 1
nilai r = 1
Rumus = (r+s)/(q+r+s+t)
Jarak d(1,4) =  1.8555075966771293