# Diskritisasi (Tugas 2)
Mengubah kolom numerik menjadi kategorikal. Perubahan tersebut dilakukan dengan mengkategorikan atribut numerik menjadi beberapa tingkatan atribut kategorikal.

## Equal width interval
$$ w = (X_max - X_min)/k $$

sehingga batas rentangnya : $$ v_i = X_min + i*w $$

## Equal-Frequency Intervals
Banyaknya jumlah data sama rentangnya
$$ F^-1(q) = min{x|F(x) >= q} $$

## Entrophy Binning
Informasi yang menunjukkan ukuran nilai ketidakpastian dari atribut
$$ -(ùö∫_i*n p_i log_2 p_i) $$

Gain :
$$ E_new = E_initial - E_new $$

Tugas

Carilah data yang bertipe numerik ( data klassifikasi)

1. Lakukan proses diskritisasi dengan equal width dan equal frequency

2. Lakukan proses diskritisasi  dengan basis entropy

yang diupload adalah link github ( web statis dari jupyter book)

In [ ]:
import pandas as pd
import numpy as np

#read in the data using pandas
data = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
#check data has been read in properly
data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
MinData = min(data['sepal.length'])
MaxData = max(data['sepal.length'])

In [ ]:
#Equal width Intervals
Class = ['A', 'B', 'C', 'D']
binning = pd.cut(data['sepal.length'], 4).value_counts()
binning

(5.2, 6.1]      50
(4.296, 5.2]    45
(6.1, 7.0]      43
(7.0, 7.9]      12
Name: sepal.length, dtype: int64

In [ ]:
#Equal Frequency Intervals
Class = ['A', 'B', 'C', 'D']
binning = pd.qcut(data['sepal.length'], 4).value_counts()
binning

(4.2989999999999995, 5.1]    41
(5.1, 5.8]                   39
(5.8, 6.4]                   35
(6.4, 7.9]                   35
Name: sepal.length, dtype: int64

In [ ]:
#Entrophy Binning